#filtros-bar {
	position: fixed;
	right: 0;
	top: 35%;
	font-size: 1.5rem;
	display: flex;
	flex-direction: column;
	align-items: flex-end;
	z-index: 100;
}

.barra{
	color: white;
	text-decoration: none;
	padding: .7rem;
	display: flex;
	transition: all .5s;
}

#fa-minus-circle{
	background: #1cf009;
}

#fa-bars {
	background: #1cf009;
}

#fa-filter {
	background: #1cf009;
}



.barra:first-child {
	border-radius: 1rem 0 0 0;
}

.barra:last-child {
	border-radius: 0 0 0 1rem;
}

.barra:hover {
	padding-right: 3rem;
	border-radius: 1rem 0 0 1rem;
	box-shadow: 0 0 .5rem rgba(0, 0, 0, 0.42);
}