.card-dark:not(.card-outline)>.card-header {
    background-color: #020381;
    /* rgba(74,170,165,255) rgb */
}

/* .card-dark .card-header {
    background-color: #4aaaa5;
} */

.btn-success{
    background-color: #020381;
    box-shadow: 2px 2px 2px #8e8e8e;
}

.sidebar .nav-item.bg-azul       { background-color: #003366; color: white; }
.sidebar .nav-item.bg-celeste    { background-color: #007aa3; color: white; }
.sidebar .nav-item.bg-verdeazul  { background-color: #009999; color: white; }
.sidebar .nav-item.bg-verde      { background-color: #00b050; color: white; }
.sidebar .nav-item.bg-verdeoliva { background-color: #669933; color: white; }
.sidebar .nav-item.bg-verdeosc   { background-color: #4f6228; color: white; }
.sidebar .nav-item.bg-naranja    { background-color: #f79646; color: white; }
.sidebar .nav-item.bg-naranjosc  { background-color: #c0504d; color: white; }
.sidebar .nav-item.bg-morado     { background-color: #7030a0; color: white; }


.sidebar .nav-treeview .nav-link:hover {
  background-color: rgba(255, 255, 255, 0.2) !important;
}