/*********************************************
Estilos select con filtro de busqueda
**********************************************/
.select2-container .select2-selection--single {
    border: 1px solid #2E9AFE;
    padding: 6px;
    height: 35px;
    outline: none;
    border: 1px solid #ced4da;
    transition: all 0.2s ease-in-out;
    color: #999;
}

/*********************************************
Estilos select con seleccion multiple
**********************************************/
.select2-container--default .select2-selection--multiple {
    /* estilos del contenedor */
    padding: 1px;
    height: 38px;
    border: 1px solid #ced4da;
    transition: all 0.2s ease-in-out;
    color: #999;
}

.select2-container--default .select2-selection--multiple .select2-selection__choice {
    /* estilos de los label seleccionados */
    width: 80px;
    font-size: 0.8rem;
    padding-left: 26px;
    color: #888;
    font-weight: bolder;
    background-color: #DFE5E2;
}
